build --incompatible_strict_action_env
build --action_env=BAZEL_CXXOPTS="-std=c++17"
build --define=TYPESENSE_VERSION=\"nightly\"
build --cxxopt="-std=c++17"
build --strip=never
build --define=BRPC_WITH_GLOG=true
build --jobs=6

test --jobs=6
test --define=BRPC_WITH_GLOG=true

run --jobs=6
run --define=BRPC_WITH_GLOG=true

build --enable_platform_specific_config

build:linux --action_env=BAZEL_LINKLIBS="-l%:libstdc++.a -l%:libgcc.a"

# macOS-specific settings for Clang
build:darwin --action_env=CMAKE_OPTIONS="-DCMAKE_CXX_FLAGS=-Wno-error=unused-but-set-variable -Wno-unused-but-set-variable -Wno-error=uninitialized"
build:darwin --copt="-Wno-error=unused-but-set-variable"
build:darwin --copt="-Wno-unused-but-set-variable"
build:darwin --host_copt="-Wno-error=unused-but-set-variable"
build:darwin --host_copt="-Wno-unused-but-set-variable"
build:darwin --@rules_foreign_cc//foreign_cc/configure:cmake_cxx_flags="-Wno-error"
build:darwin --@rocksdb//:cmake_cxx_flags="-Wno-error -Wno-error=unused-but-set-variable -Wno-unused-but-set-variable"
